.timeline_form {
  margin-top: 0.5rem;
  border: 2px solid #254870;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: 1fr 2fr 1fr 0.5fr;
  column-gap: 0.5rem;
  row-gap: 0.3rem;

  & label {
    white-space: nowrap;
  }
}

.bg_blue {
  &,
  & * {
    background-color: var(--light-blue);
    color: var(--white);
  }
}

.grid_3_row {
  grid-template-rows: 1fr 2fr 1fr;
}

.form_display {
  display: grid;
}

.date_from {
  // grid-area: date_from;
  grid-column: span 2;
}

.date_to {
  // grid-area: date_to;
  grid-column: span 1;
}

.detail {
  // grid-area: detail;
  grid-column: span 3;
  width: 100%;
}

.location_type {
  // grid-area: location_type;
  grid-column: span 1;
}

.location_name {
  // grid-area: location_name;
  grid-column: span 2;
}

.submit_btn {
  // grid-area: submit_btn;
  grid-column: span 3;

  button {
    width: 100%;
    font-weight: bold;
  }
}

.display {
  &_block {
    display: block;
  }
  &_flex {
    display: flex;
  }
  &_none {
    display: none;
  }
}

.red_text {
  color: var(--yellow);
}

@media (max-width: 768px) {
  .timeline_form {
    // display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(fit-content, 1fr);
  }
}
