:root {
  --background: #012d5e;
  --font-color: #ffffff;
  --blue: #5882e3;
  --light-blue: #254870;
  --yellow: #ffc107;
  --red: #dc3545;
  --white: #fff;
  box-sizing: border-box;
  // font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

* {
  /* imported in index.html */
  font-family: 'Roboto Slab';
  background: var(--background);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
