.form_wrapper {
  position: relative;
}

.patient_form {
  border: 2px var(--light-blue) solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding: 2rem 1.5rem;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.clear_btn {
  i {
    background-color: inherit;
  }
}

.delete_btn {
  i,
  span {
    background-color: inherit;
  }
}

.display {
  &_block {
    display: block;
  }

  &_flex {
    display: flex;
  }

  &_none {
    display: none;
  }
}

@media (max-width: 576px) {
  .patient_form {
    grid-template-columns: 1fr;
  }
}
